@import "tailwindcss";
@import './base.css';

/* Базовые сбросы */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Ссылки */
a {
  text-decoration: none;
  color: inherit; /* Или свой цвет по умолчанию */
  padding: 3px;
}

/* Для ссылок с эффектом hover */
a:hover {
  background-color: hsla(168, 6%, 83%, 0.2);
}

/* Эффект наведения */
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
